<?xml version="1.0"?>
<!--
/**
 * August Ash Disable Customer Registration Module
 *
 * A simple module to disable frontend customer registration.
 *
 * @author Peter McWilliams <pmcwilliams@augustash.com>
 * @license MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Augustash\DisableRegistration\Api\Service\Customer\IsRegistrationDisabledInterface" type="Augustash\DisableRegistration\Service\Customer\IsRegistrationDisabled" />
</config>
